.btn {
  color: white;
  background: var(--secondary);
  border-radius: 10px;
  white-space: nowrap;
}

.btn:hover {
  opacity: 0.8;
  transition: all ease;
}

.btn--small {
  padding: 16px 29px;
}

.btn--md {
  font-weight: "Airbnb Cereal App Bold", sans-serif;
  font-weight: 700;
  padding: 20px 46px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--hero-bg);
  border-radius: 9px;
}
